body {
  background-image: url('https://images.wallpaperscraft.ru/image/single/nochnoe_nebo_zvezdy_zvezdnoe_nebo_118036_3840x2160.jpg');
  background-size:cover;
}



.container {
    max-width: 600px;
    margin: 50px auto;
     background: white; 
  
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #b10ece;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #44034a;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background: #e7f3ff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #121415;
}